.gdfar-bulk-control {
    display: none;
}

.bbp-forum-info,
.bbp-topic-title {
    .gdfar-ctrl-wrapper {
        float: right;
        z-index: 1000;
        text-align: center;
        position: relative;

        .gdfar-ctrl-checkbox {
            visibility: hidden;

            &.gdfar-is-on {
                visibility: visible;
            }
        }

        .gdfar-ctrl-edit {
            visibility: hidden;
            display: block;
        }
    }

    &:hover {
        .gdfar-ctrl-wrapper {
            .gdfar-ctrl-checkbox,
            .gdfar-ctrl-edit {
                visibility: visible;
            }
        }
    }
}

.gdfar-modal__content {
    box-sizing: border-box;

    * {
        box-sizing: border-box;
    }

    .gdfar-dialog-error,
    .gdfar-dialog-message {
        padding: 15px;
    }

    dl {
        display: table;
        table-layout: fixed;
        width: 100%;
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 32px;

        > dt,
        > dd {
            display: table-cell;
            vertical-align: top;
            padding: 15px;
            margin: 0;
        }

        > dt {
            background: #f5f5f5;
            color: #555;
            border-right: 1px solid #ddd;
            text-align: right;
            width: 30%;
        }

        > dd {
            width: 70%;
        }

        &.gdfar-is-error {
            > dt {
                background: #fff5f5;
                color: #500;
                border-right-color: #d6b3b3;
            }
        }

        .gdfar-error-message {
            background: #ffdfdf;
            padding: 0 10px;
            margin: 5px 0 0;
            color: #900;
            border-radius: 4px;
            font-weight: bold;
        }
    }

    form {
        select,
        input[type=number],
        input[type=text] {
            width: 100%;
            font-size: 14px;
            line-height: 2;
            min-height: 30px;
            color: #32373c;
            border-color: #7e8993;
            margin: 0;
            height: 32px;
        }

        select {
            padding: 0 24px 0 8px;
            max-width: 200px;
        }

        input[type=number],
        input[type=text] {
            padding: 0 8px;
        }
    }
}

.gdfar-bulk-control {
    background: #eee;
    padding: 10px;
    margin: 0 0 20px;
    line-height: 25px;
    overflow: auto;

    > div {
        display: inline-block;

        &.__status {
            padding: 0 10px 0 0;
            margin: 0 10px 0 0;
            border-right: 1px solid #999;

            span {
                font-weight: bold;
            }
        }

        &.__editor {
            float: right;

            button {
                font-size: 13px;
                padding: 6px 12px;
                background-color: #C4C4C4;
                color: #000;
                border-radius: .25rem;
                border-style: none;
                border-width: 0;
                cursor: pointer;
                -webkit-appearance: button;
                text-transform: none;
                overflow: visible;
                line-height: 1;
                margin: 0;
                will-change: transform;
                backface-visibility: hidden;
                transform: translateZ(0);
                transition: -webkit-transform .25s ease-out;
                transition: transform .25s ease-out;

                -moz-osx-font-smoothing: grayscale;
                -webkit-backface-visibility: hidden;
                -webkit-transform: translateZ(0);

                &:active,
                &:hover {
                    background-image: none;
                    background-color: #dddddd;
                }
            }
        }
    }
}

@media (max-width: 600px) {
    .gdfar-modal__content {
        dl {
            display: block;
            padding: 15px 15px 0;

            &:last-child {
                padding-bottom: 15px;
            }

            > dt,
            > dd {
                display: block;
                width: 100%;
            }

            > dt {
                padding: 0;
                background: none;
                border: none;
                text-align: left;
            }

            > dd {
                padding: 0;
            }
        }
    }
}
